@import "../App.scss";
// MemberCard.module.scss
.articleCard {
	color: #171313;
	cursor: pointer;
	max-width: 360px;
	.imgBlock {
		max-width: 100%;
		width: 360px;
		height: 300px;
		display: flex; // включаємо flexbox для контейнера
		align-items: center; // центруємо зображення по вертикалі
		justify-content: center;
		.img {
			max-width: 100%;
			max-height: 300px;
			object-fit: cover;
		}
	}
	.title {
		font-size: 20px;
		font-weight: 700;
		line-height: 21px;
		margin: 16px 0 8px 0;
	}
	.category {
		font-size: 18px;
		font-weight: 300;
		line-height: 11.52px;
		display: inline-block;

		padding: 10px;
		border: 1px solid #0c4a30;
		border-radius: 20px;
	}
}
.wrraper {
	max-width: $core-wrapper-width;
	margin: 0 auto;
}
.title {
	font-size: 35px;
	text-align: center;
	color: $main-color;
}
.category {
	text-align: center;
	padding: 5px;
	border: 3px solid #E84514;
	display: inline-block;
	border-radius: 20px;
	margin: 0 auto;
}
.content {
	h1 {
		font-family: Benzin-Bold;
		font-size: 64px;
		font-weight: 400;
		line-height: 74px;
		text-align: center;
	}
	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 41.63px;
	}
	b {
		font-family: Benzin-Bold;
		font-weight: 600;
	}
	img {
		margin: 0 auto;
		display: block;
	}
}
