@import "../../../App.scss";
// MemberCard.module.scss
.card {
	display: flex;
	flex-direction: column;
	width: 200px; // Можете змінити залежно від потреб
	border: 1px solid $main-color; // Колір межі з вашого зображення
	border-radius: 20px; // М'які краї
	overflow: hidden; // Обрізати вміст за рамки
	background-color: $main-color;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Легка тінь для піднятого вигляду
	padding: 6px;
	.photo {
		width: 100%; // Фото на всю ширину картки
		height: auto; // Збереження пропорцій фото
		object-fit: cover; // Заповнення простору фото без втрати пропорцій
		border-radius: 20px;
	}
}

.info {
	padding: 8px; // Поле всередині для тексту
	text-align: center; // Текст по центру
	color: white;
	.name {
		margin: 8px 0;
		font-size: 20px;
		font-weight: 700;
		line-height: 21px;
	}
	.role {
		margin-top: 8px 0 12px 0;
		font-size: 14px;
		font-size: 18px;
		line-height: 12px;
	}
}
